# Archivos de configuración de Visual Studio
.vs/
.vscode/
.idea/

# Archivos binarios generados por la compilación
bin/
obj/

# Archivos de paquetes de NuGet
packages/

# Archivos de usuario específicos del sistema
*.user
*.userosscache
*.suo
*.userprefs

# Archivos de dependencias de NuGet
project.lock.json
project.fragment.lock.json

# Archivos temporales de Visual Studio
*.vspscc
*.vssscc

# Configuración del entorno de build
*.dbmdl
